.footer{
    background-color: #343a40;
    padding-bottom: 9px;
}
.rodape{
        color: white;
        padding-top: 9px;
}
.anuncio{
    padding-top: 20px;
    padding-bottom: 400px;
}
.carousel-projeto{
    padding-top: 20px;
    padding-bottom: 100px;
}
.jumbotron{
    padding: 0px;
    margin-bottom: 0px;
}
.body{
    background-image: url(img/fundo-meus.png);
}